@page "/flightresult"
@using Microsoft.AspNetCore.WebUtilities @*for QueryHelpers*@;
@using Client.Model;
@using Client.Data;
@inject NavigationManager navigationManager
@inject IFlightInfoService flightinfoservice



<div class="container" style="margin-top:120px;">
    <div class="row bg-light">
        <div class=""></div>
        <div class="col-12 d-flex justify-content-between align-items-center" style="height:60px">
            <h2>
                Results:
                @if (flightInfos == null)
                {
                    @results
                }
                else
                {
                    @flightInfos.Count
                }
            </h2>
            <select>
                <option>Cheapest</option>
                <option>Longest</option>
            </select>
        </div>
        <div class="col-12 d-flex align-items-center p-3" id="resultsArea">
            <ul class="list-group">
                @if (flightInfos == null)
                {
                    <p class="pt-5">
                        <em>List is loading...</em>
                    </p>
                }
                else if (!flightInfos.Any())
                {
                    <p class="pt-5">
                        The file is empty, no list displayed...
                    </p>
                }
                else
                {
                    foreach (FlightInfo info in flightInfos)
                    {
                        <li class="list-group-item d-flex align-items-center text-center">
                            <div>
                                <span class="oi oi-arrow-thick-right mr-3"></span>
                            </div>
                            <div style="display:none;">
                                <p>@info.flight.id</p>
                                <p>@{int a = CalculatePrice(info.flight.numberOfSeatRemaining, info.arrival.arrivalTime, info.departure.departureTime);} </p>
                            </div>
                            <div>
                                <span>@info.departure.departureTime.ToString("h: mm tt")</span>
                                <br />

                                <span>@info.departure.departureTime.ToString("dddd, dd MMMM yyyy")</span>
                            </div>
                            <div>
                                <span>@info.departure.fromWhere</span>
                            </div>

                            <div>
                                <span>@calculateTime(info.arrival.arrivalTime, info.departure.departureTime)</span>
                                <br />
                                <span>▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬</span>
                            </div>
                            <div>
                                <span>@info.arrival.fromWhere</span>

                            </div>
                            <div>
                                <span>@info.arrival.arrivalTime.ToString("h: mm tt")</span>
                                <br />

                                <span>@info.arrival.arrivalTime.ToString("dddd, dd MMMM yyyy")</span>
                            </div>
                            <div>
                                <span>@a DKK</span>
                                <br/>
                                <button class="btn btn-primary" @onclick="@(e => BookThisFlight(info.flight.id,a))" >Book</button>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>




@code {      
    private string originOfFlight = "";
    private string destinationOfFlight = "";
    private DateTime departure;
    private DateTime departureBack;
    private int numbOfAdults;
    private int numOfChildren;
    private List<FlightInfo> flightInfos;
    private int results = 0;
    private bool returning;

    protected async override Task OnInitializedAsync()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);

        if(QueryHelpers.ParseQuery(uri.Query).TryGetValue("origin", out var origin))
        {
            originOfFlight = origin.First();
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("destination", out var destination))
        {
            destinationOfFlight = destination.First();
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("wishedDeparture", out var wishedDeparture))
        {
            string result = wishedDeparture.First();
            departure = Convert.ToDateTime(result);
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("adults", out var adults))
        {
            string result = adults.First();
            numbOfAdults = Int32.Parse(result);
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("children", out var children))
        {
            string result = children.First();
            numOfChildren = Int32.Parse(result);
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("wisheddepartureback", out var wishedDepartureBack))
        {
            string result = wishedDepartureBack.First();
            departureBack = Convert.ToDateTime(result);
        }

        flightInfos = await flightinfoservice.getFlights(originOfFlight, destinationOfFlight, (numbOfAdults + numOfChildren), departure, departureBack);

        CheckReturning();
    }

    private void CheckReturning()
    {
        if (departureBack.Year == 0001)
        {
            returning = false;
        }
        else
        {
            returning = true;
        }
    }

    private string calculateTime(DateTime arrival,DateTime departure)
    {
        DateTime result = arrival.Subtract(departure.TimeOfDay);
        return result.ToString("H:mm");
    }

    private void BookThisFlight(int flightID, int price)
    {
        navigationManager.NavigateTo("/pickedflight?flightID=" + flightID+"&adults="+numbOfAdults+"&children="+numOfChildren+"&price="+price+"&returning=" + returning.ToString());
    }

    private int CalculatePrice(int remainingSeats,DateTime arrival,DateTime departure)
    {
        DateTime result = arrival.Subtract(departure.TimeOfDay);
        double minutes = result.TimeOfDay.TotalMinutes;
        double calculation;
        Random rand = new Random();
        int addedPrice = rand.Next(100, 180);
        if (remainingSeats >= 50)
        {
            calculation = (minutes * 0.05) * remainingSeats;
        }
        else
        {
            calculation = (minutes * 0.05) * remainingSeats +addedPrice;
        }
        return Convert.ToInt32(Math.Ceiling(calculation));
    }
}
